

    body {
        background-image: url(https://images.app.goo.gl/Vb9u3mLeLoAJ2DAS9);
        min-height: 100 ;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
    }

